::-ms-input-placeholder {
  color: black !important;
  font-size: 12px !important;
}

::placeholder {
  color: black !important;
  font-size: 12px !important;
}
.checked:checked {
  background-color: #00bbef !important;
}
