#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
}
.tfooter {
  background-color: white;
  width: auto;
}
ul {
  background-color: white;
}
.higthligh {
  color: red;
}
.modelCreateAccount {
  z-index: 1000;
  background-color: rgba(36, 37, 39, 0.37);
}

.title {
  color: red;
}
