.nav {
  background-color: white;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  line-height: 2;
  &-brand {
    font-size: 20;
    font-weight: 700;
    color: #61dafb !important;
  }

  &-dropdown {
    &-item {
      color: #20232a !important;
    }
  }
}
.nav-link {
  color: black !important;
  &:hover {
    color: #61dafb !important;
  }
}
