.nav {
  background-color: white;
  font-weight: 400;
  font-size: 14px;
  white-space: nowrap;
  line-height: 2;
  &-brand {
    font-size: 20;
    font-weight: 700;
    color: #61dafb !important;
  }

  &-dropdown {
    &-item {
      color: #20232a !important;
    }
  }
}
.nav-link {
  color: rgba(0, 0, 0, 0.523) !important;
  &:hover {
    color: #61dafb !important;
  }
}
.active {
  color: black !important;
  border-bottom: 3px white solid;
}
.num {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20px;
  height: 20px;
  font-size: 15px;
  position: absolute;
  top: -50%;
  right: -50%;
  background-color: red;
  border-radius: 100rem;
  color: white;
}
