.signup-container {
  height: 100vh;
  background: #f0f2f5;
}
.form-signup {
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
}
.brand {
  color: #1877f2;
  font-family: "IBM Plex Sans", sans-serif;
  font-family: "Mooli", sans-serif;
  font-family: "Roboto", sans-serif;
}
