.ebook {
  margin-top: 88px;
  font-size: 20px;
  font-weight: 400;
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 59px;
  &-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 63px;
    grid-auto-rows: minmax(338px, auto);
  }
}
.paginate {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-items: center;
}
.pagination {
  margin: 0 auto;
}
